.from-to{
    background-color: tomato;
    border-radius: 10px;
    padding: 7px;
    padding-left: 20px;
}
.fees{
    background-color: lightslategray;
    border-radius: 10px;
}
.fees img{
    width: 60px;
}
.ride-details{
    background-color: wheat;
    border-radius: 15px;
}